<header class="p-3 bg-dark text-white">
  
  <div class="parent">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="" class="nav-link px-2 text-white" routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a href="" class="nav-link px-2 text-white" routerLink="/features" routerLinkActive="active">Features</a></li>
        <li><a href="" class="nav-link px-2 text-white" routerLink="/about-us" routerLinkActive="active">About Us</a></li>
        <li><a href="" class="nav-link px-2 text-white" routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
        
      </ul>
      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form> -->

      
      <div class="text-end">
        <div class="dropdown ml-2" >
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-basic">
              Login <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" routerLink="/intern-login" routerLoinkActive="active">Intern Login</a></li>
              <li role="menuitem"><a class="dropdown-item" routerLink="/admin" routerLoinkActive="active">Admin Login</a></li>
              
              
            </ul>
            
          </div>
          <button type="button" class="btn btn-warning" routerLink='/sign-up' routerLinkActive="active">Sign-up</button>
      </div> 
      </div>
    </div>
  </div>
</header>
